*{
    padding:0;
    margin:0;
    font-family:sans-serif;
    box-sizing: border-box;
}
.banner{

    background:linear-gradient(rgba(0,0, 0, 0.1), hsla(0, 90%, 73%, 0.844)), url(images/backwater.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
    .navbar{
        position:sticky;
         padding-top:  0;;
         z-index:10;
    }
    .nav-link{
        color: #fff!important;
        font-weight:400;
        font-size:16px;
    
    }
    .navbar-nav li{
        padding: 20px;
    }
   
    ul li:after{
        content:'';
        width:0%;
        height:2px;
        background:rgb(255,255,255);
        display:block;
        margin:auto;
        transition: 0.5s;
    }
     ul li:hover:after{
        width:80%;
        }   
 /* .login-tag{
    
    border:1px solid rgb(248, 133, 133);
    
    padding:40px;
    margin-left:35%;
    margin-right:40%;
    height:75%;
    border-radius: 10%;
}  */

 
.row{
    border:1px solid black;
    text-align:center;
    border-radius:10%;
    padding-left: 40px;
    padding-right:40px;
    padding-top: 20px;
    padding-bottom:40px;
  
    background:linear-gradient(rgba(0,0,0,.2),rgba(24, 7, 6, 0.267));
}



button{
    width:50% !important;
    background: transparent!important;
    outline: none !important;
    border:2px solid #fff !important;
    border-radius:20px !important;
   
    

}
.container a:after{
    content:'';
    width:0%;
    height:2px;
    background:rgb(255,255,255);
    display:block;
    margin:auto;
    transition: 0.5s;
}
 .container a:hover:after{
    width:50%;
    }  
    a{
        text-decoration: none!important;
        color: #fff!important;
    }
    h6{
        color: #fff;

    }
    header{
        color: #fff;
    }
    