 *{
    padding:0;
    margin:0;
    font-family:sans-serif;
    /* box-sizing: border-box; */
}
 #nav-bar{
   position:sticky;
    top:0;
    z-index:10;
}
/* .navbar-brand img {
height: 100%;
padding-left:0;
}  */
.navbar-nav{
    margin-left:auto;
}

navbar-brand img {
    height: 40px;
    padding-left:30px; 
    } 

    #nav-bar ul li::after{
        content:'';
        width:0%;
        height:2px;
        background:rgb(197, 243, 105);
        display:block;
        margin:auto;
        transition: 0.5s;
    }

    #nav-bar ul li:hover::after{
        width:100%;
        }  

/* .navbar-nav li{
    padding:0 5px;
    margin-left: 1px;
    justify-content: space-evenly;  */
   
}
.navbar-nav li a{
    float:right;
    text-align:left;
}
.navbar{
  background: #fff;  
}
.navbar-toggler{
    border: none !important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size:16px ;
    
}
/* --------------Carousel----------- */
.carousel-item img{
    width:100%;
    height:400px;
    overflow:hidden; 
}
/* -------------Aside contents-------- */
.contents{
    margin-top: 100px;
    
}
 .contents h5{
    text-align:justify;
    font-size:18px; 
    
}
.contents p{
    text-align: justify;
     flex-basis:30%;
    background:radial-gradient(rgb(197, 243, 105),#ffffff);
    margin:25px 100px;
    border-radius: 20px;
    padding: 20px 20px;
    box-sizing: border-box;
}
/*--------------------------Districts------------------- */
.container
{
box-sizing: border-box;
background:rgb(237, 247, 219);
padding-top:60px;
padding-bottom:30px;


}
.row img{
    vertical-align: middle; 
    max-width: 100%;
max-height: 100%;
padding-top: 0;
background:rgb(238, 238, 238);
    padding-left:0;
    padding-right:0;
    margin-left:0;
}

    h6 {
     text-align:center;
     color: #555!important;
    }

 #downloads{
    text-decoration: none;
 }   
 
 
 h6::after{
    content:'';
    width:0%;
    height:3px;
    background:rgb(200, 252, 95);
    display:block;
    margin:auto;
    transition: 0.5s;
}

h6:hover::after{
    width:100%;
}
/* -------------------Connect with Us----------------- */
.social-media{
  margin-left: 120px;
} 
.social-media a{
    border-radius:50%;
    padding:15px;
    transition: 0.4s;
   
   
}
.social-media a:hover .fab{
   transform: translateY(-8px);
}
/* -------------------------Footer--------------------- */
.container1.fas{
   
    padding-top:5px; 
    padding-bottom:1px; 
    margin-right: 5px;
    text-align:center!important;
}



#footer .container1{
    width:100%;
     background:rgb(237, 247, 219);
    height:220px;
    left: 0;
    right: 0;
    margin-bottom:5px;
    
}
.container1 p{
    
    padding:2px;
    margin: 2px;
    font-size: 16px;
    text-align:center!important;
   
}
.social-media{
    margin-left:300px!important;
}
